# PCA

In [3]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.datasets import load_iris

In [16]:
#LOAD
iris = load_iris()
X=iris.data

In [9]:
#APPLY
pca = PCA(n_components=2)
X_pca = pca.fit_transform(X)
print(X.shape)
print(X_pca.shape)

(150, 4)
(150, 2)

In [19]:
df = pd.read_csv("btissue.csv")
df.head()

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P,class
0,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334,car
1,330.000000,0.226893,0.265290,121.154201,3163.239472,26.109202,69.717361,99.084964,400.225776,car
2,551.879287,0.232478,0.063530,264.804935,11888.391830,44.894903,77.793297,253.785300,656.769449,car
3,380.000000,0.240855,0.286234,137.640111,5402.171180,39.248524,88.758446,105.198568,493.701814,car
4,362.831266,0.200713,0.244346,124.912559,3290.462446,26.342127,69.389389,103.866552,424.796503,car

In [22]:
df_pca = pca.fit_transform(df)
print(df.shape)
print(df_pca.shape)

ValueError: could not convert string to float: 'car'

# To avoid the above error

In [31]:
df2 = pd.get_dummies(df,drop_first=True)#conversion of nominal to ordinal

In [32]:
df2

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P,class_car,class_con,class_fad,class_gla,class_mas
0,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334,1,0,0,0,0
1,330.000000,0.226893,0.265290,121.154201,3163.239472,26.109202,69.717361,99.084964,400.225776,1,0,0,0,0
2,551.879287,0.232478,0.063530,264.804935,11888.391830,44.894903,77.793297,253.785300,656.769449,1,0,0,0,0
3,380.000000,0.240855,0.286234,137.640111,5402.171180,39.248524,88.758446,105.198568,493.701814,1,0,0,0,0
4,362.831266,0.200713,0.244346,124.912559,3290.462446,26.342127,69.389389,103.866552,424.796503,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2000.000000,0.106989,0.105418,520.222649,40087.920980,77.059161,204.090347,478.517223,2088.648870,0,0,0,0,0
102,2600.000000,0.200538,0.208043,1063.441427,174480.476200,164.071543,418.687286,977.552367,2664.583623,0,0,0,0,0
103,1600.000000,0.071908,-0.066323,436.943603,12655.342130,28.963331,103.732704,432.129749,1475.371534,0,0,0,0,0
104,2300.000000,0.045029,0.136834,185.446044,5086.292497,27.427344,178.691742,49.593290,2480.592151,0,0,0,0,0
105,2600.000000,0.069988,0.048869,745.474369,39845.773700,53.450226,154.122604,729.368395,2545.419744,0,0,0,0,0

In [34]:
df2_pca = pca.fit_transform(df2)
print(df2.shape)
print(df2_pca.shape)

(106, 14)
(106, 2)

# LDA

In [36]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.datasets import load_iris

In [43]:
iris = load_iris()
X,y = iris.data,iris.target
lda = LinearDiscriminantAnalysis(n_components=2)
X_lda = lda.fit_transform(X,y)
print(X.shape)
print(X_lda.shape)

(150, 4)
(150, 2)

# SVD

In [45]:
import numpy as np
from sklearn.decomposition import TruncatedSVD

In [46]:
X = np.random.rand(5,4)

In [47]:
svd = TruncatedSVD(n_components=2)
X_svd = svd.fit_transform(X)
print(X.shape)
print(X_svd.shape)

(5, 4)
(5, 2)

# Feature Construction

In [51]:
import pandas as pd
data={"length":[20,25,30,32],
     "breadth":[15,23,90,56],
     "price":[20000,30000,40000,50000]}
df = pd.DataFrame(data)
df

   length  breadth  price
0      20       15  20000
1      25       23  30000
2      30       90  40000
3      32       56  50000

In [54]:
#Feature construction
df["Area"]=df["length"]*df["breadth"]
df

   length  breadth  price  Area
0      20       15  20000   300
1      25       23  30000   575
2      30       90  40000  2700
3      32       56  50000  1792

# Encoding Nominal Data / Variables

In [56]:
data={"city":["bbsr","ctc","rkl","kgp"],
     "athelete":['Y','N','Y',"N"],
     "win":['Y','N','N','Y']}
df = pd.DataFrame(data)
df

   city athelete win
0  bbsr        Y   Y
1   ctc        N   N
2   rkl        Y   N
3   kgp        N   Y

In [58]:
pd.get_dummies(df,drop_first=False)

,city_bbsr,city_ctc,city_kgp,city_rkl,athelete_N,athelete_Y,win_N,win_Y
0,1,0,0,0,0,1,0,1
1,0,1,0,0,1,0,1,0
2,0,0,0,1,0,1,1,0
3,0,0,1,0,1,0,0,1