### Create series with ndarray

In [6]:
import pandas as pd
import numpy as np

In [7]:

arr = np.array(['Amlan',11,12,13])
series = pd.Series(arr)

print(series)

0    Amlan
1       11
2       12
3       13
dtype: object

### Create series with mutable index

In [8]:
arr = np.array(['a','b','c','d'])
series = pd.Series(arr,index=['First','Second','Third','Fourth'])
print(series)

First     a
Second    b
Third     c
Fourth    d
dtype: object

### Creating a series with scalar values

In [11]:
series = pd.Series('Amlan',index=[0,1,2,3,4])
print(series)

0    Amlan
1    Amlan
2    Amlan
3    Amlan
4    Amlan
dtype: object

### Addition of series

In [25]:
lst1 = [1,2,3,4]
lst2 = [5,6,7,8]

s1 = pd.Series(lst1,index=['1st','2nd','3rd','4th'])
s2 = pd.Series(lst2)

print(s1+s2) 
#jahan missing hoga udhar Nan aajayega, 
#dono series ka indexing same hona chahiye jaahan different hoga udhar NaN aayega

1st   NaN
2nd   NaN
3rd   NaN
4th   NaN
0     NaN
1     NaN
2     NaN
3     NaN
dtype: float64

In [26]:
lst1 = [1,2,3,4]
lst2 = [5,6,7,8,9]

s1 = pd.Series(lst1,index=['1st','2nd','3rd','4th'])
s2 = pd.Series(lst2,index=['1st','2nd','3rd','4th','5th'])

print(s1+s2)

1st     6.0
2nd     8.0
3rd    10.0
4th    12.0
5th     NaN
dtype: float64

In [22]:
lst1 = [1,2,3,4]
lst2 = [5,6,7,8]

s1 = pd.Series(lst1,index=['1st','2nd','3rd','4th'])
s2 = pd.Series(lst2,index=['1st','2nd','3rd','4th'])

print(s1+s2)

1st     6
2nd     8
3rd    10
4th    12
dtype: int64

### Head and Tail in pandas

In [36]:
arr = np.array([10,11,12,'Amlan','Anshuman',123.56,78.98])
ser = pd.Series(arr)
#head
print(ser.head(),end="\n\n")
print(ser.head(3))
print('\n')
#tail
print(ser.tail(),end="\n\n")
print(ser.tail(3))

0          10
1          11
2          12
3       Amlan
4    Anshuman
dtype: object

0    10
1    11
2    12
dtype: object


2          12
3       Amlan
4    Anshuman
5      123.56
6       78.98
dtype: object

4    Anshuman
5      123.56
6       78.98
dtype: object

In [41]:
arr = np.array([10,15,18,22,25,27])
s = pd.Series(arr)
#loc[startindex:endIndex] isme endIndex include hota hei
print(s)
print(s.loc[:2])
print(s.loc[3:4])
print(s.loc[2:3])

0    10
1    15
2    18
3    22
4    25
5    27
dtype: int64
0    10
1    15
2    18
dtype: int64
3    22
4    25
dtype: int64
2    18
3    22
dtype: int64

In [42]:
print(s)
#iloc[startindex:endIndex] isme endIndex exclude hota hei
print(s.iloc[:2])
print(s.iloc[3:4])
print(s.iloc[2:3])

0    10
1    15
2    18
3    22
4    25
5    27
dtype: int64
0    10
1    15
dtype: int64
3    22
dtype: int64
2    18
dtype: int64

In [43]:
print(s.iloc[::-1])
print(s.loc[::-1])

5    27
4    25
3    22
2    18
1    15
0    10
dtype: int64
5    27
4    25
3    22
2    18
1    15
0    10
dtype: int64

In [45]:
arr = np.array([10.02,"15",18,22,25,27])
s = pd.Series(arr,index=['1st','2nd','3rd','4th','5th','6th'])
print(s)
#iloc[startindex:endIndex] isme endIndex exclude hota hei
print(s.iloc[:2])
print(s.iloc[3:4])
print(s.iloc[2:3])

1st    10.02
2nd       15
3rd       18
4th       22
5th       25
6th       27
dtype: object
1st    10.02
2nd       15
dtype: object
4th    22
dtype: object
3rd    18
dtype: object

### Convert Dictionary to Series

In [48]:
dic = {1:"Amlan",2:"Anshuman",3:"Nayak"}
dic

{1: 'Amlan', 2: 'Anshuman', 3: 'Nayak'}

In [50]:
ser = pd.Series(dic)
print(ser)

1       Amlan
2    Anshuman
3       Nayak
dtype: object