In [1]:
import pandas as pd

In [2]:
S=pd.Series() #empty String
print(S)

Series([], dtype: float64)

/tmp/ipykernel_4286/2056886897.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  S=pd.Series()

In [7]:
S = pd.Series([1,2,3],index=['a','b','c'])
print(S)

a    1
b    2
c    3
dtype: int64

In [8]:
S = pd.Series({'a':1,'b':2,'c':3})
print(S)

a    1
b    2
c    3
dtype: int64

In [10]:
S = pd.Series((1,2,3,4),index=['a','b','c','d'])
print(S)

a    1
b    2
c    3
d    4
dtype: int64

In [11]:
print(S['b'])

2

In [12]:
print(S[:2])

a    1
b    2
dtype: int64

In [14]:
print(S[['a','b']])

a    1
b    2
dtype: int64

In [16]:
print(S[S>2])

c    3
d    4
dtype: int64

In [17]:
print([S>2])

[a    False
b    False
c     True
d     True
dtype: bool]

In [18]:
print([S*2])

[a    2
b    4
c    6
d    8
dtype: int64]

In [37]:
data = {
    "Name": ['Anwesha','Debasmita','Abhipsa',None],
    'Blood Group':['B+ve','B+ve','B+ve','O+ve'],
    'City':['Cuttack','New Delhi','BBSR','BBSR'],
    'Age':[21,20,21,19]
}
df = pd.DataFrame(data)
df

        Name Blood Group       City  Age
0    Anwesha        B+ve    Cuttack   21
1  Debasmita        B+ve  New Delhi   20
2    Abhipsa        B+ve       BBSR   21
3       None        O+ve       BBSR   19

In [38]:
print(df.shape)
print("="*100)
print(df.info())
print("="*100)

(4, 4)
====================================================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         3 non-null      object
 1   Blood Group  4 non-null      object
 2   City         4 non-null      object
 3   Age          4 non-null      int64
dtypes: int64(1), object(3)
memory usage: 256.0+ bytes
None
====================================================================================================

In [39]:
print(df.describe())

             Age
count   4.000000
mean   20.250000
std     0.957427
min    19.000000
25%    19.750000
50%    20.500000
75%    21.000000
max    21.000000

In [40]:
df.describe()

             Age
count   4.000000
mean   20.250000
std     0.957427
min    19.000000
25%    19.750000
50%    20.500000
75%    21.000000
max    21.000000